:root{
        --ff-main: 'Raleway', sans-serif;
        --ff-sub:  'Lato', sans-serif;
        --base-color: #F5F5F5;
        --primary-color: #16B8BD;
        --black : black;
        --white: white;
        --fw-bold: 700;
}

html{
        font-size: 62.5%;
        font-family: var(--ff-sub);
}

*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

body{
        color: var(--black);
}

h1{
        font-family:  var(--ff-main);
}

/*Main page -hero section*/

.hero{
        background-color: var(--base-color) ;
        padding: 15rem 0 10rem 0;
}

.hero h1{
        font-size: 3.5rem;
        font-weight: var(--fw-bold);
}

.hero h2,.hero h3{
     font-size: 2rem;
}

.hero h3{
        opacity: 0.75;
}

.hero div{
        margin-top: 4rem;
}

.hero div a{
        font-size: 1.8rem;
        background-color: var(--primary-color);
        border-radius: 0.4rem;
        color: var(--white);
        font-weight: var(--fw-bold);
}

.hero div a:hover{
        color: var(--primary-color);
        border: 0.3rem solid var(--primary-color) ;
        background-color: var(--base-color);
}





@media only screen and (min-width:768px) {
        .hero h1{
                font-size: 7rem;
                margin: 17rem;
        }

        .hero h2{
                font-size: 4rem;
        }

        .hero h3{
                font-size: 3rem;
        }

        .hero div{
                margin-top: 7rem;
        }

}