:root{
        --ff-main: 'Raleway', sans-serif;
        --ff-sub:  'Lato', sans-serif;
        --base-color: #F5F5F5;
        --primary-color: #16B8BD;
        --black : black;
        --white: white;
        --sky-blue: #5095E4;
        --fw-bold: 700;
        --btn-radius:  0.4rem;
}

html{
        font-size: 62.5%;
        font-family: var(--ff-sub);
}

*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

body{
        color: var(--black);
}

h1{
        font-family:  var(--ff-main);
}

/*Main page -hero section*/

.hero{
        background-color: var(--base-color) ;
        padding: 15rem 0 10rem 0;
}

.hero h1{
        font-size: 3.5rem;
        font-weight: var(--fw-bold);
}

.hero h2,.hero h3,.home-content h2{
     font-size: 2rem;
}

.hero h3{
        opacity: 0.75;
        font-family: var(--ff-main);
}

.hero div{
        margin-top: 4rem;
}

.hero div a{
        font-size: 1.8rem;
        background-color: var(--primary-color);
        border-radius: 0.4rem;
        color: var(--white);
        font-weight: var(--fw-bold);
}

.hero div a:hover{
        color: var(--primary-color);
        border: 0.3rem solid var(--primary-color) ;
        background-color: var(--base-color);
}

/*Main page -Content section*/

.home-content{
        margin: 5rem 0 5rem 0;
}

.home-content h2{
        font-style: italic;
        margin-bottom: 4rem;
}

.pj-imgs:hover{
        filter: blur(0.08rem);
}

.home-content h3{
        font-size: 3rem;
        text-transform: capitalize;
        font-family: var(--ff-main);
}

.home-content p{
        font-size: 1.8rem;
}



.interactive-pj-link,.weather-pj-link{
        padding: 1rem 1.5rem;
        border-radius: var(--btn-radius);
        font-weight: var(--fw-bold);
        font-size: 1.5rem;
}

.weather-pj-link{
        background-color: var(--sky-blue);
        color: var(--white);
        border: 0.3rem solid var(--sky-blue) ;
}

.weather-pj-link:hover{
        background-color: var(--white);
        color: var(--sky-blue);
        border: 0.3rem solid var(--sky-blue) ;
}

.interactive-pj-link{
        background-color: var(--black);
        color: var(--white);
        border: 0.3rem solid var(--black) ;
}

.interactive-pj-link:hover{
        background-color: var(--white);
        color: var(--black);
        border: 0.3rem solid var(--black) ;
}


@media only screen and (min-width:576px) {
        .home-content h3{
                font-size: 2rem;
        }
        
        .home-content p{
                font-size: 1.4rem;
        }

}

@media only screen and (min-width:768px) {
        .hero h1{
                font-size: 7rem;
                margin: 17rem;
        }

        .hero h2{
                font-size: 4rem;
        }

        .hero h3,.home-content h2{
                font-size: 3rem;
        }

        .hero div{
                margin-top: 7rem;
        }

        .home-content h2{
                margin-bottom: 6rem;
        }

        .home-content h3{
                font-size: 3.5rem;
        }
        
        .home-content p{
                font-size: 1.9rem;
        }
        

}